@import url('https://rsms.me/inter/inter.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

    /* Scroll thumb styles */
    .scrollbar::-webkit-scrollbar {
        width: .5rem;
    }

    .scrollbar::-webkit-scrollbar-thumb {
        @apply invisible bg-gray-200 dark:bg-gray-600 hover:bg-gray-300 dark:hover:bg-gray-700;
        border-radius: 1rem;
    }

    .scrollbar-visible::-webkit-scrollbar-thumb {
        @apply visible;
    }

    /* Scroll track styles (Background) */
    .scrollbar::-webkit-scrollbar-track {
        display: none;
    }

    .sortable-chosen {
        @apply scale-105 skew-y-1
    }

    .sortable-ghost {
        @apply opacity-0
    }

    .m-safe {
        margin-top: env(safe-area-inset-top);
        margin-right: env(safe-area-inset-right);
        margin-bottom: env(safe-area-inset-bottom);
        margin-left: env(safe-area-inset-left);
    }

    .mx-safe {
        margin-right: env(safe-area-inset-right);
        margin-left: env(safe-area-inset-left);
    }

    .my-safe {
        margin-top: env(safe-area-inset-top);
        margin-bottom: env(safe-area-inset-bottom);
    }

    .mt-safe {
        margin-top: env(safe-area-inset-top);
    }

    .mr-safe {
        margin-right: env(safe-area-inset-right);
    }

    .mb-safe {
        margin-bottom: env(safe-area-inset-bottom);
    }

    .ml-safe {
        margin-left: env(safe-area-inset-left);
    }

    .p-safe {
        padding-top: env(safe-area-inset-top);
        padding-right: env(safe-area-inset-right);
        padding-bottom: env(safe-area-inset-bottom);
        padding-left: env(safe-area-inset-left);
    }

    .px-safe {
        padding-right: env(safe-area-inset-right);
        padding-left: env(safe-area-inset-left);
    }

    .py-safe {
        padding-top: env(safe-area-inset-top);
        padding-bottom: env(safe-area-inset-bottom);
    }

    .pt-safe {
        padding-top: env(safe-area-inset-top);
    }

    .pr-safe {
        padding-right: env(safe-area-inset-right);
    }

    .pb-safe {
        padding-bottom: env(safe-area-inset-bottom);
    }

    .pl-safe {
        padding-left: env(safe-area-inset-left);
    }

    .min-h-screen-safe {
        min-height: [ calc(100vh - (env(safe-area-inset-top) + env(safe-area-inset-bottom)));
        -webkit-fill-available;
        ];
    }

    .h-screen-safe {
        height: [ calc(100vh - (env(safe-area-inset-top) + env(safe-area-inset-bottom)));
        -webkit-fill-available;
        ];
    }
}