@import url('https://rsms.me/inter/inter.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        @apply bg-white dark:bg-gray-900
    }
}

@layer utilities {

    /* Scroll thumb styles */
    .scrollbar::-webkit-scrollbar {
        width: .5rem;
    }

    .scrollbar::-webkit-scrollbar-thumb {
        @apply invisible bg-gray-200 dark:bg-gray-600 hover:bg-gray-300 dark:hover:bg-gray-700;
        border-radius: 1rem;
    }

    .scrollbar-visible::-webkit-scrollbar-thumb {
        @apply visible;
    }

    /* Scroll track styles (Background) */
    .scrollbar::-webkit-scrollbar-track {
        display: none;
    }

    .sortable-chosen {
        @apply scale-105 skew-y-1
    }

    .sortable-ghost {
        @apply opacity-0
    }
}